<body>
<h1>Status:{{ status }}</h1>
<ul>
    {% for route in routes %}
        <li>
            Route {{ loop.index }}<br>
            {% for leg in route.legs %}
                Leg {{ loop.index }}<br>
                {% for step in leg.steps %}
                    Step {{ loop.index }}<br>
                    <ul>
                        <li>Distance: {{ step.distance.text }}</li>
                        <li>Duration: {{ step.duration.text }}</li>
                        <li>Instructions: {{ step.instructions }}</li>
                        <li>Distance: {{ step.distance.text }}</li>
                        <li>Travel mode: {{ step.travelMode }}</li>
                    </ul>
                {% endfor %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
</body>