{% extends '::base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@HouseFinderFrontendBundle/Resources/public/css/*'
    '@HouseFinderFrontendBundle/Resources/public/css/main.css'
    'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    <base href="{{ path('frontend_root') }}">
{% endblock head_style %}

{% block container %}
        <div class="container" ng-app="app">
            <div  ui-view>
            <div>
                {% include 'HouseFinderFrontendBundle:Default:Partials/app/loading-inner.html.twig' %}
            </div>
            {% include 'HouseFinderFrontendBundle:Default:templates.html.twig' %}
            </div>
        </div>
{% endblock container %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
    '@HouseFinderFrontendBundle/Resources/public/js/vendor/modernizr-2.6.2.min.js'
    '@InnovaAngularJSBundle/Resources/public/js/angular.min.js'
    '@InnovaAngularJSBundle/Resources/public/js/angular-route.min.js'
    '@InnovaAngularJSBundle/Resources/public/js/angular-resource.min.js'
    'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js'
    '@HouseFinderFrontendBundle/Resources/public/js/vendor/angular-ui/angular-ui-router.min.js'
    '@HouseFinderFrontendBundle/Resources/public/js/app/app.js'

    '@HouseFinderFrontendBundle/Resources/public/js/common/services/user.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/services/advertisement.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/services/map.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/services/address.js'

    '@HouseFinderFrontendBundle/Resources/public/js/common/controllers/search.js'

    '@HouseFinderFrontendBundle/Resources/public/js/common/directives/header/header.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/directives/currencySelect.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/directives/searchMain.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/directives/searchFilter.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/directives/advertisements.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/directives/pager.js'

    '@HouseFinderFrontendBundle/Resources/public/js/common/filters/imageWH.js'
    '@HouseFinderFrontendBundle/Resources/public/js/common/filters/range.js'

    '@HouseFinderFrontendBundle/Resources/public/js/app/notfound/notfound.js'
    '@HouseFinderFrontendBundle/Resources/public/js/app/welcome/welcome.js'
    '@HouseFinderFrontendBundle/Resources/public/js/app/advertisement/advertisement.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}
